body {
  width: 100vw;
  height: 100vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  display: flex;
  align-items: center;
  border-radius: 1vh;
  padding: 1vh 1vw;
}
button {
  border: none;
  padding: 1vh 1vw;
  border-radius: 1vh;
}

.content {
  justify-content: space-evenly;
  flex-direction: column;
  width: 30%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.5);
}

#list {
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 50%;
}
#list div {
  padding: 0.1vh;
}
